$colorBase: red;
$colorImportant: rgb(145, 1, 1); 
$colorWarning: rgb(255, 139, 139);
$principalFont: 'Courier New', Courier, monospace;
$secondaryFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$shadow: -10px 10px 10px black;