body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;

  .box {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 90px;
    border-radius: 10px;
  }

  .base-color {
    width: 80px;
  }

  .color-box-text {
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@mixin colores($baseColor, $paleta, $boxes, $textColor) {
    #{$paleta} span{
    color: $textColor;
  }

  #{$paleta} > .base-color {
    background-color: $baseColor;
  }

  $deg: $baseColor;
  @for $i from 1 through $boxes {
    $deg: darken($deg, 5%);
    #{$paleta} {
      & > .darken-#{$i} {
        background-color: $deg;
      }
    }
  }

  $deg: $baseColor;
  @for $i from 1 through $boxes {
    $deg: lighten($deg, 5%);
    #{$paleta} {
      & > .lighten-#{$i} {
        background-color: $deg;
      }
    }
  }
}

@include colores(rgba(255, 0, 0, 0.795), ".paleta-1", 4, white);
@include colores(rgb(0, 47, 255), ".paleta-2", 4, white);
@include colores(green, ".paleta-3", 4, white);
@include colores(rgb(255, 230, 0), ".paleta-4", 4, black);
@include colores(rgb(183, 0, 255), ".paleta-5", 4, white);
